week2/flows/yellow_tripdata_2021-01.csv.gz
week3/.DS_Store
week3/data.zip
week3/download_data.py
week3/data/.DS_Store
week3/data/fhv/.DS_Store
week3/data/fhv/fhv_tripdata_2019-01.csv
week3/data/fhv/fhv_tripdata_2019-02.csv
week3/data/fhv/fhv_tripdata_2019-03.csv
week3/data/fhv/fhv_tripdata_2019-04.csv
week3/data/fhv/fhv_tripdata_2019-05.csv
week3/data/fhv/fhv_tripdata_2019-06.csv
week3/data/fhv/fhv_tripdata_2019-07.csv
week3/data/fhv/fhv_tripdata_2019-08.csv
week3/data/fhv/fhv_tripdata_2019-09.csv
week3/data/fhv/fhv_tripdata_2019-10.csv
week3/data/fhv/fhv_tripdata_2019-11.csv
week3/data/fhv/fhv_tripdata_2019-12.csv
week3/data/fhv/fhv_tripdata_2020-01.csv
week3/data/fhv/fhv_tripdata_2020-02.csv
week3/data/fhv/fhv_tripdata_2020-03.csv
week3/data/fhv/fhv_tripdata_2020-04.csv
week3/data/fhv/fhv_tripdata_2020-05.csv
week3/data/fhv/fhv_tripdata_2020-06.csv
week3/data/fhv/fhv_tripdata_2020-07.csv
week3/data/fhv/fhv_tripdata_2020-08.csv
week3/data/fhv/fhv_tripdata_2020-09.csv
week3/data/fhv/fhv_tripdata_2020-10.csv
week3/data/fhv/fhv_tripdata_2020-11.csv
week3/data/fhv/fhv_tripdata_2020-12.csv
week3/data/fhv/fhv_tripdata_2021-01.csv
week3/data/fhv/fhv_tripdata_2021-02.csv
week3/data/fhv/fhv_tripdata_2021-03.csv
week3/data/fhv/fhv_tripdata_2021-04.csv
week3/data/fhv/fhv_tripdata_2021-05.csv
week3/data/fhv/fhv_tripdata_2021-06.csv
week3/data/fhv/fhv_tripdata_2021-07.csv
week3/data/green/green_tripdata_2019-01.csv
week3/data/green/green_tripdata_2019-02.csv
week3/data/green/green_tripdata_2019-03.csv
week3/data/green/green_tripdata_2019-04.csv
week3/data/green/green_tripdata_2019-05.csv
week3/data/green/green_tripdata_2019-06.csv
week3/data/green/green_tripdata_2019-07.csv
week3/data/green/green_tripdata_2019-08.csv
week3/data/green/green_tripdata_2019-09.csv
week3/data/green/green_tripdata_2019-10.csv
week3/data/green/green_tripdata_2019-11.csv
week3/data/green/green_tripdata_2019-12.csv
week3/data/green/green_tripdata_2020-01.csv
week3/data/green/green_tripdata_2020-02.csv
week3/data/green/green_tripdata_2020-03.csv
week3/data/green/green_tripdata_2020-04.csv
week3/data/green/green_tripdata_2020-05.csv
week3/data/green/green_tripdata_2020-06.csv
week3/data/green/green_tripdata_2020-07.csv
week3/data/green/green_tripdata_2020-08.csv
week3/data/green/green_tripdata_2020-09.csv
week3/data/green/green_tripdata_2020-10.csv
week3/data/green/green_tripdata_2020-11.csv
week3/data/green/green_tripdata_2020-12.csv
week3/data/yellow/yellow_tripdata_2019-01.csv
week3/data/yellow/yellow_tripdata_2019-02.csv
week3/data/yellow/yellow_tripdata_2019-03.csv
week3/data/yellow/yellow_tripdata_2019-04.csv
week3/data/yellow/yellow_tripdata_2019-05.csv
week3/data/yellow/yellow_tripdata_2019-06.csv
week3/data/yellow/yellow_tripdata_2019-07.csv
week3/data/yellow/yellow_tripdata_2019-08.csv
week3/data/yellow/yellow_tripdata_2019-09.csv
week3/data/yellow/yellow_tripdata_2019-10.csv
week3/data/yellow/yellow_tripdata_2019-11.csv
week3/data/yellow/yellow_tripdata_2019-12.csv
week3/data/yellow/yellow_tripdata_2020-01.csv
week3/data/yellow/yellow_tripdata_2020-02.csv
week3/data/yellow/yellow_tripdata_2020-03.csv
week3/data/yellow/yellow_tripdata_2020-04.csv
week3/data/yellow/yellow_tripdata_2020-05.csv
week3/data/yellow/yellow_tripdata_2020-06.csv
week3/data/yellow/yellow_tripdata_2020-07.csv
week3/data/yellow/yellow_tripdata_2020-08.csv
week3/data/yellow/yellow_tripdata_2020-09.csv
week3/data/yellow/yellow_tripdata_2020-10.csv
week3/data/yellow/yellow_tripdata_2020-11.csv
week3/data/yellow/yellow_tripdata_2020-12.csv
week2/flows/yellow_tripdata_2021-01.csv.gz
